[mysqld]
max_connections = 256

default_authentication_plugin = mysql_native_password

character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

server-id = 2
read_only = on

gtid_mode = on
enforce_gtid_consistency = on

log-bin = mysql-bin

relay-log-index = relay-bin.index
relay-log = relay-bin
